<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
<div
        style="width: 100%; max-width: 650px; margin: 5% auto"
>
    <div style="margin: 0 24px">
        <div style="margin-top: 24px;">
            <div
                    style="background: #24315D; border-radius: 8px 8px 0 0; padding: 24px 34px"
            >
                <div
                        style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 40px; text-align: center; color: #FFFFFF;"
                >
                    You have requested to reset your password
                </div>
            </div>
            <div
                    style="background: #F7F7F7; border-radius: 0 0 8px 8px; padding: 33px 33px 56px 43px; font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 16px; color: #2A3042;"
            >
                <div
                        style="font-weight: bold;"
                >
                    Hi {user.name},
                </div>
                <div style="margin-top: 4px; line-height: 24px; font-size: 14px">
                    You have requested to reset password. Here is the link:
                </div>
                <div style="margin-top: 36px; line-height: 24px; font-size: 14px">
                    <a href={reset_link} style="color: #7298FF">reset link</a>
                </div>
            </div>
            <div style="margin: 30px auto 80px; min-width: 386px; ">
                <div
                        style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 14px; line-height: normal; text-align: center; color: #000000;"
                >
                    Need help? Feedback? Click <a href="#" style="color: #7298FF">here</a> to contact our support team.
                </div>
                <div style="text-align: center; margin-top: 9px">
						<span
                                style="text-align: center; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 12px; color: #24315D;"
                        >
							<a href="#" style="cursor: pointer; text-decoration: none">
								Terms of Use
							</a>
							&nbsp;&nbsp;&#124;&nbsp;&nbsp;
							<a href="#" style="cursor: pointer; text-decoration: none">
								Privacy Policy
							</a>
							&nbsp;&nbsp;&#124;&nbsp;&nbsp;
							<a href="#" style="cursor: pointer; text-decoration: none">
								Unsubscribe
							</a>
						</span>
                </div>
                <div
                        style="font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 12px; text-align: center; color: #000000; margin-top: 37px"
                >
                    &copy; Copyright iSense. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>